# Configuration Django
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com

# Configuration Base de données PostgreSQL
DB_NAME=caisses_femmes
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

# Configuration Sécurité
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
